<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li  routerLink="/content/welcome" routerLinkActive="active" nz-menu-item>Inicio</li>
      <li nz-submenu nzTitle="Usuarios" nzIcon="team">
        <ul>
          <li routerLink="/content/user" routerLinkActive="active" nz-menu-item>Gestión de usuarios</li>
        </ul>
      </li>
      <li routerLink="/content/category" routerLinkActive="active" nz-menu-item>Categorías</li>

      <li  routerLink="/auth/login" routerLinkActive="active" nz-menu-item>Salir</li>


    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>