[nz-form] {
    max-width: 700px;
  }

  .phone-select {
    width: 300px;
  
  }

  .register-are {
    align-items: center;
  }
  [nz-button]{
  align-items: center;
  }
  [nz-title]{
    text-align: center
  }