<button nz-button nzType="primary" (click)="showModalCreate()">Crear Usuario</button>
<br>
<nz-divider nzText="Listado de usuarios" nzOrientation="left"></nz-divider>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
          <td>{{ data.full_name }}</td>
          <td>{{ data.mail }}</td>
          <td>{{ data.state.name }}</td>
          <td>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu">Acciones<i nz-icon nzType="down"></i></button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item>
                            <a>Editar</a>
                          </li>
                          <li nz-menu-item>
                            <a (click)="handleDisableUser(data)">Eliminar</a>
                          </li>
                          <li nz-menu-item>
                            <a>Ver</a>
                          </li>
                        </ul>
                      </nz-dropdown-menu>
          </td>
      </tr>
    </tbody>
  </nz-table>

  <!--
    MODALES
  -->
  <nz-modal
  [(nzVisible)]="isVisibleModalCreate"
  nzTitle="Creación de Usuario"
  (nzOnCancel)="handleCancelModalCreate()"
  (nzOnOk)="handleOkModalCreate()"
  [nzOkLoading]="isOkLoadingModalCreate">
  <p>
      Contenido de modal
  </p>
</nz-modal>