.image-background {
    background-image: url("https://artemisa.unbosque.edu.co/sala/assets/images/bloqueJ.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
