<button nz-button  (click)="showModalOnCreate()" nzType="primary">Crear categoría</button>
<nz-divider nzText="Listado de categorías" nzOrientation="left"></nz-divider>
<nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>
                    <button nz-button nz-dropdown [nzDropdownMenu]="menu">Acciones<i nz-icon nzType="down"></i></button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                              <li nz-menu-item>
                                <a (click)="showModalOnEdit(data)">  Editar</a>
                              </li>
                              <li nz-menu-item>
                                <a (click)="deleteCategory(data.id)">Eliminar</a>
                              </li>
                            </ul>
                     </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>

<!-- Modal de creación de categorías -->

<nz-modal
[(nzVisible)]="isVisibleOnCreate"
nzTitle="Crear nueva cateogíra"
(nzOnCancel)="handleCancelOnCreate()"
(nzOnOk)="handleOkOnCreate()"
[nzOkLoading]="isOkLoadingOnCreate"
>


<form nz-form  [formGroup]="validateFormOnCreate"  class="login-form" (ngSubmit)="submitFormOnCreate()" >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name">
      Nombre
    </nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="name" name="name" type="text" id="name">
    </nz-form-control>
  </nz-form-item >
</form>

</nz-modal>

<!-- Modal de edición de categorías -->

<nz-modal
[(nzVisible)]="isVisibleOnEdit"
nzTitle="Editar categoría"
(nzOnCancel)="handleCancelOnEdit()"
(nzOnOk)="handleOkOnEdit()"
[nzOkLoading]="isOkLoadingOnEdit"
>


<form nz-form  [formGroup]="validateFormOnEdit"  class="login-form" (ngSubmit)="submitFormOnEdit()" >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name">
      Nombre
    </nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="name" name="name" type="text" id="name">
    </nz-form-control>
  </nz-form-item >

  <nz-form-item>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="id" name="id" type="hidden" id="id">
    </nz-form-control>
  </nz-form-item >

  <button nz-button class="login-form-button" [nzType]="'primary'">Guardar</button>

</form>

</nz-modal>

